<%- include('partials/header.ejs'); %>
<%- include('partials/homenavbar.ejs'); %>
<style>
    #artigos{
        margin-top: 90px;
    }
    .jumbotronT,.jumbotron1, .jumbotron2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .imgpt2{
        width: 200px;
        margin-top: 2.2px;
        animation-name: esquerda;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .imgpt1{
        width: 200px;
        animation-name: direita;
        animation-duration:2s;
        animation-fill-mode: forwards;
    }
    .imgbv{
        margin-top: -100px;
        width: 0px;
        animation-name: centro;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    .button{
        text-decoration: none;
        float: right;
        color: #fff;
        background-color: #173542;
        padding: 8px;
        border-radius: 15px;
        font-size: 15px;
        box-shadow: 8px 8px 8px rgb(114, 101, 101);
    }
    .button:hover{
        color: #fff;
        box-shadow: none;
        background-color: #74ABC2;
    }
    .prox{
        color: #487A8F;
        float: right;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .prox:hover{
        color: #141414;
    }
    @keyframes direita {
        from {
            margin-left: 0%;
        }
        to {
            margin-right: 70%;
            transform: rotate(-20deg);
        }
    }
    @keyframes esquerda {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 70%;
            transform: rotate(20deg);
        }
    }
    @keyframes centro {
        from {
           width: 0px;
        }
        to {
            width: 350px;
        }
    } 
    @media screen and (min-width: 320px){
        .imgpt1, .imgpt2, .imgbv{
            margin: 0px;
            margin-bottom: -70px;
            margin-top: -10px;
        }
        .imgpt1, .imgpt2{
            width: 80px;
        }
        @keyframes centro {
            from {
                width: 0px;
            }
            to {
                width: 150px;
            }
        } 
    }
    @media screen and (min-width: 1025px){
        .imgpt1, .imgpt2, .imgbv{
            margin: 0px;
            margin-bottom: -70px;
            margin-top: -50px;
        }
        .imgpt1, .imgpt2{
            width: 120px;
        }
        @keyframes centro {
            from {
                width: 0px;
            }
            to {
                width: 250px;
            }
        } 
    }
</style>
<body>
    <div class="container" id="artigos">
        <div class="jumbotronT">
            <div class="jumbotron1">
                <img src="../../img/TM-pt1.png" alt="parte1" class="imgpt1"/>
            </div>
            <div class="jumbotron3">
                <img src="../../img/TM-completo-.png" alt="tm-completo" class="imgbv" />
            </div>
            <div class="jumbotron2">
                <img src="../../img/TM-pt2(2).png" alt="parte2" class="imgpt2" />
            </div>
        </div>
        <hr>
        <% articles.forEach(articles => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= articles.title %></h2>
                </div>
                <br>
                <div class="card-body">
                    <a href="/<%= articles.slug %>" class="button">Saiba mais</a>
                </div>
            </div>
            <br>
        <% }) %>
        <!-- Paginação -->
        <!--  <div class="row">
            <div class="col col-12">
                <a class="prox" href="/articles/page/2"> Próximo > </a>
            </div>
        </div> -->
    </div>
</body>
<%- include('partials/footer.ejs'); %>